@charset "UTF-8";

.wrap {
  width: 400px;
  margin: 0 auto;
}
.info {
  margin-bottom: 20px;
}
.title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}
.header {
  height: 100px;
  background-color: #141f40;
}
.main {
display: flex;
}
.middle__left {
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
}
.middle__right {
  width: 250px;
  height: 250px;
  background-color: #8c2727;
}
.footer {
  height: 100px;
  background-color: #d98d30;
}